doctype html
html 
    head 
        title #{pageTitle} | Youtube 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")        
    body 
        header
            h1=pageTitle
            img(src="/" + loggedInUser.avatarUrl width=100 heigth=100)
            nav
                ul
                    li
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn
                        li 
                            a(href="/users/logout") Log out
                        li 
                            a(href="/users/edit-profile") My profile                        
                        li 
                            a(href="/videos/upload") Upload Video
                    else
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login
        main
            block content
    include partials/footer.pug
    script(src="/assets/js/main.js") 