extends base.pug
include mixins/video

block content 
    h2 Welcome to trend video! 
    each video in videos 
        +video(video)
    else 
        li Sorry, nothing found.

block script 
    script(src="/assets/js/main.js") 