extends base.pug

block content
    div 
        video#preview
    div
        button#startBtn Start Recording!
    if errorMessage
        span=errorMessage
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video file
        input(name="video", id="video" type="file", required, accept="video/*")
        input(placeholder="title", required, type="text", name="title")
        input(placeholder="description", required, type="text", name="description")
        input(placeholder="hashtags, separated by comma.", required, type="text", name="hashtags")
        input(type="submit", value="Upload Video")

block script 
    script(src="/static/js/recorder.js") 