header
    a(href="/")
        i.fa-brands.fa-youtube 
    h1=pageTitle
    if (loggedInUser.socialOnly)
        img(src=loggedInUser.avatarUrl, width=100, heigth=100)
    else
        img(src="/" + loggedInUser.avatarUrl, width=100, heigth=100)
    nav
        ul
            li
                a(href="/") Home
            li 
                a(href="/search") Search
            li 
                a(href=`/users/6565858b38cd3462afa8b7b4`) admin profile
            if loggedIn
                li 
                    a(href="/users/logout") Log out
                li 
                    a(href="/users/edit-profile") My profile                        
                li 
                    a(href="/videos/upload") Upload Video
            else
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login
        