header
    a(href="/").header__logo
        i.fa-brands.fa-youtube 
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search        
            li
                a(href="/") Home
            li 
                a(href=`/users/657028ac3f653cf7ef619347`) admin profile
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li.header__btn 
                    a(href="/users/logout") Log out
                li 
                    a(href="/users/edit-profile")
                        if loggedInUser.avatarUrl === ""
                            span My profile
                        else
                            if loggedInUser.socialOnly
                                img.header__avatar(src=loggedInUser.avatarUrl)
                            else
                                img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else
                li
                    a(href="/login") Login
                li
                    a(href="/join").header__btn  Join
        