extends ../base

block content
    form(action="POST")
        input(placeholder="old Password") 
        input(placeholder="new Password") 
        input(placeholder="new Password Conform") 
        input(type="submit" value="change password")